h2 {
    background-color: bisque;
    width: 50%;
}

.container {
    margin-left: 50px;
}

a {
    padding: 0 10px;
    border-radius: 20px;
}

.add {
    background-color: red;
}

.reset {
    background-color: green;
}

.increment {
    margin-top: 10px;
    width: 100px;
}