<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Guess Game</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body>

    <h2>Welcome to the Great Number Game!</h2>
    <h3>I am thinking of a number between <span>1</span> and <span>100</span></h3>
    <h3>Take a guess! </h3> 

    <form action="/guess" method="post">
        <input class="input" type="number" name="nr" max="100" min="1">
        <input class="myGuess" type="submit">
    </form>


    <p>{{ answer }}</p>
    <p>{{ again|safe}}</p>

    <!-- <form action="/reset">
        <input class="again" type="submit" value="Start a New Game">
    </form> -->

    <span class="hidden">Here it is , you CHEATER! -> {{session['nr']}} </span>

</body>
</html>


