body {
    background-color: blanchedalmond;
}

.container {
    display: flex;
    gap: 20px;
}

.box {
    border: 1px solid;
    margin-top: 20px;
    text-align: center;
}

.showGold {
    border: 1px solid;
}

.find {
    background-color: orangered;
    margin-bottom: 20px;
    cursor: pointer;
}

button:hover {
    box-shadow: 3px 3px 3px;
}