<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter index</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Hello! Welcome to Counter:</h2>
    <div class="container">
        <h3>Count Session: {{session['count']}}</h3>
        <h3>Visited Session: {{session['visited']}}</h3>
        <h3>Increment with {{session['increment']}}</h3>
        <a class="add" href="/add">+{{session['increment']}}</a>
        <a class="reset" href="/destroy_session">Reset</a>
        <form action="/increment" method="POST">
            <input class="increment" name="increment" placeholder="increment value">
        </form>
    </div>
    

</body>
</html>