h2,
h3,
form {
    text-align: center;
}

body {
    background-color: blanchedalmond;
}

span {
    color: blueviolet;
}

.hidden {
    color: transparent;
}

.hidden:hover {
    color: red;
}

.input {
    width: 50px;
    border: none;
}

.myGuess {
    background-color: bisque;
    border: 1px solid lightgrey;
    color: red;
}

.again {
    margin-top: 10px;
    background-color: bisque;
    border: 1px solid lightgrey;
    color: green;
}

p {
    color: green;
    text-align: center;
    font-size: xx-large;
}