<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/process_user" method="POST">
        <div>
            <label for="first_name">First Name</label>
            <input type="text" name="f_name">
        </div>
        <div>
            <label for="last_name">Last Name</label>
            <input type="text" name="l_name">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="user_password">
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>