<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        
        <form class="form" action="/process" method="post">

            <h2>Dojo Survey</h2>
            <label for="name"><h3>Name:</h3> </label>
            <input type="text" name="name">

            <br>
            <div>
                <h3  style="display: inline;">Are you learning Remote?</h3> 
                <input id="remote" type="checkbox" name="remote" checked >
            </div>
            
            <h3>Dojo Location:<h3>
            <div class="radio">
                <input type="radio" name="location" value="remote" checked="checked">
                <label for="location">Online</label>
            </div>
            <div class="radio">
                <input type="radio" name="location" value="Chicago" >
                <label for="location">Chicago</label>
            </div>
            <div class="radio">
                <input type="radio" name="location" value="Burbank" >
                <label for="location">Burbank</label>
            </div>
            <div class="radio">
                <input type="radio" name="location" value="Bellevue" >
                <label for="location">Bellevue</label>
            </div>
            <div class="radio">
                <input type="radio" name="location" value="Settle" >
                <label for="location">Settle</label>
            </div>
            <div class="radio">
                <input type="radio" name="location" value="Los Angeles" >
                <label for="location">Los Angeles</label>
            </div>
            <div class="radio">
                <input type="radio" name="location" value="San Jose" >
                <label for="location">San Jose</label>
            </div>

            <label for="language"><h3>Favorite Language:</h3> </label>
            <select class="form" name="language">
                <option>Web Fundamentals</option>
                <option selected>Python</option>
                <option>JavaScript</option>
                <option>Java</option>
            </select>

            <label for="comment"><h3>Comments:</h3> </label>
            <textarea name="comment" cols="24" rows="5" placeholder="Tell us something about you..."></textarea>
            <input class="send" type="submit" value="Send">
        </form>
    </div>
</body>
</html>